<!-- <p>register works!</p> -->
<!-- <div class="register-layout">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                User Registration
            </mat-panel-title>
            <mat-panel-description>
                Enter Your Details
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="form-layout" #formName="ngForm"(ngSubmit)="registerUser()">
            <mat-form-field appearance="fill">
                <mat-label>UserName</mat-label>
                <input matInput type="text" [(ngModel)]="user.name">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput type="password"[(ngModel)]="user.password">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [(ngModel)]="user.email" >               
              </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your Location</mat-label>
                <input matInput type="text" [(ngModel)]="user.location"  >               
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!formName.isValid">Register</button>
        </div>


    </mat-expansion-panel>
</div> -->
<form class="form-layout" #formName="ngForm" (ngSubmit)="registerUser()">
    <mat-form-field>
      <mat-label>UserName</mat-label>
      <input
        matInput
        name="name"
        type="text"
        [(ngModel)]="user.name"
        required
        #name="ngModel"
      />
    </mat-form-field>
    <label
      class="error"
      *ngIf="name.invalid && (name.dirty || name.touched)"
      class="alert"
    >
      <span class="error" *ngIf="name.errors?.['required']">
        Name is required.
      </span>
    </label>
    <mat-form-field>
      <mat-label>Enter your Email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [(ngModel)]="user.email"
        type="email"
        required
        name="email"
        pattern="^(.+)@(.+)$"
        #email="ngModel"

      />
      <label
      class="error"
      *ngIf="email.invalid && (email.dirty || email.touched)"
      class="alert"
    >
      <span class="error" *ngIf="email.errors?.['required']">
        Email is required.
      </span>
      <span class="error" *ngIf="email.errors?.['pattern']">
        Please enter valid Email
      </span>
    </label>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="user.password"
        required
        name="password"
        #password="ngModel"

      />
      <label class="error" *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
          <label class="error" *ngIf="password.errors?.['required']">Password is required.</label>
            <span>
              Name must be at least 4 characters long.
            </span>
      </label>
    </mat-form-field>


    <mat-form-field>
        <mat-label>Enter your Location</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="user.location"
          required
          name="location"
          #location="ngModel"
  
        />
        <label class="error" *ngIf="location.invalid && (location.dirty || location.touched)" class="alert">
            <label class="error" *ngIf="location.errors?.['required']">location is required.</label>
              <span>
                Name must be at least 4 characters long.
              </span>
        </label>
      </mat-form-field>


 <button mat-raised-button color="primary" [disabled]="formName.invalid">
      Register
    </button>
  </form>